body {
    /* text-align will put a canvas on the center of the page */
    text-align: center;
    background-color: #4070f4;
}

#board {
    background-color: #000;
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
}